tt-book-editor {
  .error-message {
    padding: 0px 10px;
  }

  .form-action-bar {
    display: flex;
    justify-content: space-between;
  }

  .toaster {
    z-index: 9999;
    position: fixed;
    top: -100px;
    right: 20px;
    background: green;
    color: white;
    padding: 20px;
    animation: 3s slideUpDownUp;
  }

  @keyframes slideUpDownUp {
    0% {
      top: -100px;
    }

    20% {
      top: 20px;
    }

    80% {
      top: 20px;
    }

    100% {
      top: -100px;
    }
  }
}


