<div>
  <h2 ng-if="!$ctrl.bookId">Agregar libro</h2>
  <h2 ng-if="$ctrl.bookId">Editar libro</h2>
  <form name="bookForm" ng-submit="$ctrl.submit()">
    <div class="row">
      <div class="col-md-6">
        <fieldset>
          <legend>Detalles del libro</legend>
          <div class="form-horizontal">
              <div class="form-group">
                <label for="inputTitle" class="col-sm-2 control-label">Titulo</label>
                  <div class="col-sm-10">
                    <input name="inputTitle" ng-model="$ctrl.title" type="text" class="form-control" id="inputTitle" placeholder="Titulo" ng-required="true">
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputEdition" class="col-sm-2 control-label">Edicion</label>
                  <div class="col-sm-10">
                    <div class="input-group">
                        <input name="inputEdition" ng-model="$ctrl.edition" type="text" class="form-control" uib-datepicker-popup="yyyy/MM/dd" ng-required="true" is-open="$ctrl.calendarState.open" />
                        <span class="input-group-btn">
                          <button type="button" class="btn btn-default" ng-click="$ctrl.openCalendar()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </div>
                  </div>
                </div>
            </div>
        </fieldset>
      </div>
      <div class="col-md-6">
        <tt-author-select form-state="$ctrl.formState"></tt-author-select>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-sm-offset-4 text-center form-action-bar">
          <input class="btn btn-primary" type="submit" value="Guardar" ng-disabled="bookForm.$invalid">
          <button class="btn btn-default" type="button" ng-click="$ctrl.cancel()">Cancelar</button>
      </div>
    </div>
  </form>
</div>